.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 20px;;
    width: 100%;
    background-color: #fdfdfd;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    
}
.todo-input {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    background-color: white;
    padding: 10px 10px;
    
}

.todo-text {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.todo-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    
}
.todo-btn:hover {
    background-color: #45a; /* Darker green on hover */
}


.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    justify-content: space-between;
    background-color: white;
    padding: 10px 10px;
    gap: 10px;
    background-color: #fdfdfd;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.todo-items {
    list-style-type: none;
    padding: 0;
    margin: 0;  
    width: 80%;
    display: flex;
    flex-direction: column;
}
.todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.del-btn {
    background-color: #45a;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    border: 1px solid;
}

.del-btn:hover {
    background-color: darkred; /* Darker red on hover */
}   

.clear-btn {
    background-color:  #45a;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
}

.clear-btn:hover {
    background-color: red; /* Darker red on hover */
}
